@model IEnumerable<HastaneRandevuSistemi.Models.AnaBilimDali>


@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>

   



</div>

<p>
    Hastanemizde aşağıdaki anabilim dallarında hizmet verilmektedir. 
</p>
<table class="table">   
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDaliAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnaBilimDaliAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
          
            </tr>
        }
    </tbody>
</table>