@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p>

        <h2 class="display-4">Hastane Randevu Sistemi'ne hoş geldiniz. </h2>

        
        
        Sağlık hizmetlerine ulaşımı daha kolay ve hızlı hale getirmek için tasarlanmış olan sistemimiz, size online randevu alma ve sağlık kontrolü süreçlerinizi yönetme imkanı sunar.
    </p>
</div>
